.sign-up .sign-up-form, .login-form{
    color: white;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
}

.sign-up .form-group{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px){
    .sign-up .sign-up-form{
        width: 300px;
        max-width: 100%;
    }
}