{% extends 'layout.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="home-wrapper">
    <style>
      nav.navbar{
        display: none;
      }
      .about-wrapper{
          margin-top: 10vh;
      }
    </style>
  
    <nav class="home-navbar">
      <div class="container-fluid nav-wrapper py-3">
        <div class="logo"><a href="/"><img src="{% static '/img/ucc_web_logo.png' %}" alt="ucc_logo.jpg" height="30px">UCC LMS</a></div>
        <ul class="nav-menu">
          <li>
            <a href="/" class="btn">Gallery</a>
          </li>
          <li>
            <a href="{% url 'about' %}" class="btn">About</a>
          </li>
          <li>
            <a href="{% url 'student-dashboard' %}" class="btn">Dashboard</a>
          </li>
          <li>
            <a href="{% url 'login' %}" class="btn">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="about-wrapper">
        <div class="container">
            <h1 class="text-center py-3">About UCC LMS</h1>
            <p class="lead">A library is a diverse set of comparable data sources and assets, made available for a distinct local area for reference or acquisition. Hence, the path towards dealing with the library physically is exceptionally problematic and cumbersome. With respect to this perspective, we intend to promote an electronic framework to nurture exercises for library executives in a far-reaching approach to reduce the actual work and reduce the complexity of the manual framework.</p>
            <p>In this task, we plan to add several highlights that are largely inaccessible in the library. It will have features such as customer or user login, workforce login, and administrator login. It will also have an option where after logging in in their records the users can see a rundown of the books offered, their release date and the date back, moreover, users or students can ask the bookkeeper/librarian to add new books through the solicitation interface as well as give a specific book location.</p>
            <p>The library provides customers with access to a wide variety of books and materials as it serves as an institution’s brain and encourages the spread of knowledge. The rapid advancement of technology has demanded the development of a system that would reduce the workload of the librarians while also making the library enjoyable to use. A Library Management System has been designed to manage all library operations in order to promote technology-driven education.</p>
            <p>Overall, this project is created to help library users/students and administrators keep pace with the library in the best conceivable way and reduce human endeavours.</p>
        </div>
    </div>
    <footer class="footer">
      <div class="container py-5">
        <div class="row mb-5">
          <div class="col-md-4">
            <strong>Follow us on social media</strong>
            <ul class="row social-media">
              <li class="col-md-6"><a href="https://www.facebook.com/capevars/" target="_blank"><i class="fab fa-facebook">‌</i>Facebook</a></li>
                  <li class="col-md-6"><a href="https://business.google.com/u/1/dashboard/l/02923863611512028745?hl=en" target="_blank"><i class="fab fa-google-plus">‌</i>Google plus</a></li>
                  <li class="col-md-6"><a href="https://www.linkedin.com/edu/university-of-cape-coast-12825" target="_blank">‌<i class="fab fa-linkedin">‌</i>LiknedIn</a></li>
                  <li class="col-md-6"><a href="https://www.youtube.com/user/capevars" target="_blank"><i class="fab fa-youtube">‌</i>Youtube</a></li>
                  <li class="col-md-6"><a href="https://twitter.com/CapeVars" target="_blank"><i class="fab fa-twitter">‌</i>Twitter</a></li>
              <li class="col-md-6"><a href="https://en.wikipedia.org/wiki/University_of_Cape_Coast" target="_blank"><i class="fab fa-wikipedia-w">‌</i>Wikepedia</a></li>
              <li class="col-md-6"><a href="https://www.flickr.com/photos/capevars" target="_blank"><i class="fab fa-flickr">‌</i>Flickr</a></li>
              <li class="col-md-6"><a href="https://www.instagram.com/capevars" target="_blank"><i class="fab fa-instagram">‌</i>Instagram</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <strong>Our library's opening hours</strong>
            <ul>
              <li class="text-bold">Normal days in the semester</li>
              <li>Monday - Friday: 9am to 10pm</li>
              <li>Saturday: 9am to 8pm</li>
            </ul>
            <ul>
              <li class="text-bold">Examination period</li>
              <li>Monday - Friday: 9am to 5am</li>
              <li>Saturday: 9am to 8pm</li>
              <li>NB: Our library remains closed on holidays</li>
            </ul>
  
          </div>
          <div class="col-md-4">
            <strong>Send us an email</strong>
            <form action="">
              <div class="input-group">
                <input type="text" placeholder="Name" name="name" class="form-control col-md-6">
                <input type="text" placeholder="Email" name="email" class="form-control col-md-6">
              </div>
                <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Type your message"></textarea>
                <a href="mailto:library@ucc.edu.gh" class="form-control btn btn-primary">SEND</a>
            </form>
          </div>
        </div>
        <strong class="copy">Developed in &copy;2021</strong>
      </div>
    </footer>
  </div>
    
{% endblock %}