{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}
<div class="container sign-up">
    <form action="" method="POST" class="form mt-3 p-4 bg-dark sign-up-form">
        {% csrf_token %}
        <legend class="text-center">Add Book</legend>
        <div class="form-group mb-3">
            {{form.title.label}}
            {{form.title}}
        </div>
        <div class="form-group mb-3">
            {{form.publisher.label}}
            {{form.publisher}}
        </div>
        <div class="form-group mb-3">
            {{form.author.label}}
            {{form.author}}
        </div>
        <div class="form-group mb-3">
            {{form.location.label}}
            {{form.location}}
        </div>
        <div class="form-group mb-3">
            {{form.year.label}}
            {{form.year}}
        </div>

        <div class="lower text-center">
            <input type="submit" class="btn mb-3 btn-primary" name="edit user" value="Save">
            <a href="{% url 'view-books' %}" class="btn mb-3 btn-danger" >Go back</a>
            {{form.errors}}
        </div>
    </form>
</div>
    
{% endblock %}