{% extends 'base.html' %}

{% load static %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="dashboard admin-dashboard">
<div class="rowe">
  <nav id="sideMenu" class="sideMenu  bg-light">
    <div class="menu-toggle btn btn-dark ">
      <i class="fas fa-bars"></i>
    </div>
    <div class="">
      <ul class="">
        <li class="nav-ite mb-2">
          <a class="nav-link active" aria-current="page" href="{% url 'admin-dashboard' %}">
            <i class="fas fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-ite mb-2">
          <a class="nav-link" href="{% url 'view-users' %}">
            <i class="fas fa-user"></i>
            <span>View Users</span>
          </a>
        </li>
        <li class="nav-ite mb-2">
          <a class="nav-link" href="{% url 'view-subjects'%}">
            <i class="fas fa-book"></i>
            <span> Books Categories (Subject)</span>
          </a>
        </li>
        <li class="nav-ite mb-2">
          <a class="nav-link" href="{% url 'view-books'%}">
            <i class="fas fa-book"></i>
            <span>All Books</span>
          </a>
        </li>
        <li class="nav-ite mb-2">
          <a class="nav-link" href="{% url 'book-records' %}">
            <i class="fas fa-book-reader"></i>
            <span>Issue/Return Requests</span>
          </a>
        </li>
        <li class="nav-ite mb-2">
          <a class="nav-link" href="{% url 'books-not-returned' %}">
            <i class="fas fa-book-reader"></i>
            <span>Books Not Returned</span>
          </a>
        </li>
        <li class="nav-ite mb-2">
          <a class="nav-link" href="{% url 'stolen-books' %}">
            <i class="fas fa-book-reader"></i>
            <span>Stolen Books</span>
          </a>
        </li>
        <li class="nav-ite mb-2">
          <a class="nav-link" href="{% url 'recommendations' %}">
            <i class="fas fa-book-open"></i>
            <span>Recommendations</span>
          </a>
        </li>
        <li class="nav-ite mb-2">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="ms-sm-auto px-md-4 container">
    <div class="pt-3 pb-2 mb-3 user-profile">
          <h1 class="h2 text-center">ADMIN PROFILE</h1>
          <div class="profile">
            <div class="profile-pic">
              {% if admin.profile_pic %}
                <img src="{{admin.profile_pic.url}}" alt="profile-picture.jpg">
              {% else %}
                <img src="{% static '/img/background.jpg' %}" alt="profile-picture.jpg">
              {% endif %}
            </div>
            <div class="profile-details">
              <div class="profile-detail username"><span class="detail-title">Name </span><span style="text-transform: uppercase;">{{admin.user.last_name}} {{admin.user.first_name}}</span></div>
              <div class="profile-detail index-number"><span class="detail-title">Employee ID </span><span style="text-transform: uppercase;">{{admin.employee_id}}</span></div>
              <div class="profile-detail index-number"><span class="detail-title">Joined UCC LMS </span><span style="text-transform: uppercase;">{{admin.user.date_joined}}</span></div>
              <!-- <a href="{% url 'edit-profile' user.id %}" class="mt-5 btn btn-danger">Edit profile</a> -->

            </div>
            <!-- <a href="" class="edit-profile btn btn-sm btn-danger mt-4">Edit Profile <i class="fas fa-cog"></i></a> -->
          </div>
    </div>
    <div class="aside">
      <div class="news aside-item">
        <strong>NEWS</strong>
        <ul class="news-list">
          <li>
            <a target="blank" href="https://ucc.edu.gh/news/performance-ucc-her-maiden-appearance-2022-times-higher-education-world-university-rankings">Performance Of UCC In Her Maiden Appearance In The 2022 Times Higher Education World University Rankings</a>
            <small>Sep 02, 2021</small>
          </li>
          <li>
            <a target="blank" href="https://ucc.edu.gh/news/sgs-organizes-e-resource-training-workshop">SGS organizes E-resource Training Workshop</a>
            <small>Sep 16, 2021</small>
          </li>
          <li>
            <a target="blank" href="https://ucc.edu.gh/news/ucc-embarks-global-impact-enhancement-agenda">UCC Embarks on a Global Impact Enhancement Agenda</a>
            <small>Sep 16, 2021</small>
          </li>
        </ul>
      </div>
      <div class="search aside-item">
        <strong>SEARCH OUTSIDE UCC LMS</strong>
          <form action="https://www.pdfdrive.com/search" class="search-pdfDrive" target="blank">
            <div class="input-group">
              <input type="text" class="form-control" name="q" placeholder="Search PDF Drive">
              <button>
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
          <form action="https://www.free-ebooks.net/search" target="blank">
            <div class="input-group">
              <input type="text" class="form-control" name="q" placeholder="Search Free-Ebooks.net">
              <button>
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
      </div>
    </div>      
    {% for message in messages %}
    <br>
    <small id="messages" class="bg-warning p-1">
        {{message}}
    </small>
    <br>
    {% endfor %}
  </main>
</div>

  <script>
    const menuToggle = document.querySelector('.menu-toggle')
    const navMenu = document.querySelector(".sideMenu")

    menuToggle.addEventListener('click', ()=>{
        navMenu.classList.toggle('closed')
    })
  </script>
</div>
{% endblock %}