{% extends 'base.html' %}

{% block title %} Add User {% endblock %}

{% block content %}

<section class="section">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Create a new user account
            </div>
            <div class="card-body">
                <div class="container sign-up">
                    <form action="" method="POST" class="form">
                        <div class="alert alert-danger">
                            {{form.errors}}
                        </div>
                        {% csrf_token %}
                        <div class="form-group my-4">
                            Index Number / Staff ID
                            {{sform.index_number}}
                        </div>
                        <div class="form-group my-4">
                            {{form.username.label}}
                            {{form.username}}
                        </div>
                        <div class="form-group my-4">
                            {{form.first_name.label}}
                            {{form.first_name}}
                        </div>
                        <div class="form-group my-4">
                            {{form.last_name.label}}
                            {{form.last_name}}
                        </div>
                        <div class="form-group my-4">
                            {{form.email.label}}
                            {{form.email}}
                        </div>
                        <div class="form-group my-4">
                            {{form.password1.label}}
                            {{form.password1}}
                        </div>
                        <div class="form-group my-4">
                            {{form.password2.label}}
                            {{form.password2}}
                        </div>
                        <div class="lower text-center">
                            <input type="submit" class="btn mb-3 btn-primary" name="Create Account"
                                value="Create Account">
                            <a href="{% url 'view-users' %}" class="btn mb-3 btn-danger">Go back</a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}