{% extends 'stubase.html' %}

{% block title %}Edit User Profile{% endblock %}

{% block content %}

    <style>
        p {
            display: flex;
            flex-direction: column;
        }

        

        ul.errorlist {
            display: none;
        }
    </style>


    <section class="section">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Edit Profile
            </div>
            <div class="card-body">


                <form method="POST" enctype="multipart/form-data" class="mt-4">
                    {% csrf_token %}
                    
                    {% for message in messages %}
                    <br>
                    <small id="messages" class="bg-warning p-1">
                        {{message}}
                    </small>
                    <br>
                    {% endfor %}
                    {{form.as_p}}

                    <div class="cta input-group">
                        <button type="submit" class="btn btn-primary form-control">Save</button>
                        <a href="{% url 'student-dashboard' %}" class="btn btn-secondary form-control">Go back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>

    {% endblock %}