{% extends 'base.html' %}

{% block title %} Recommendations {% endblock %}
{% block content %}
<section class="section">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <table class='table' id="table_id">
        <thead>
            <tr>
                <td>ID</td>
                <td>Book Name</td>
                <td>Description</td>
                <td>Recommended by</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for i in recommendations %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.book_name}}</td>
                <td>{{i.description}}</td>
                <td>{{i.user}}</td>
                <td>
                    <a href="https://www.google.com/search?q={{i.book_name}} book" class="btn btn-primary btn-sm" target='_blank'>Search</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</section>

{% endblock %}