{% extends 'stubase.html' %}

{% block title %}Recommend Book{% endblock %}
{% block content %}
<section class="section">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <legend>Add Book Recommendation</legend>
            </div>
            <div class="card-body">
                <form action="" method="POST" class="form sign-up">
                    {% csrf_token %}
                    <div class="alert alert-danger">
                        {{form.errors}}
                    </div>
                    <div class="form-group mb-5" style="cursor: not-allowed;">
                        {{form.user.label}}
                        {{form.user}}
                    </div>
                    <div class="form-group mb-5">
                        {{form.book_name.label}}
                        {{form.book_name}}
                    </div>
                    <div class="form-group mb-5">
                        {{form.description.label}}
                        {{form.description}}
                    </div>
                    <div class="lower text-center">
                        <input type="submit" value="Submit" name="submit" class="btn btn-primary">
                        <a href="{% url 'student-dashboard' %}" class="btn btn-secondary">Go back</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}