{% extends 'stubase.html' %}
{% load crispy_forms_tags %} 
{% block title %}Recommend Book{% endblock %}
{% block content %}
<section class="section">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <legend>Add Book Recommendation</legend>
            </div>
            <div class="card-body">
                <form action="" method="POST" class="form sign-up">
                    {% csrf_token %}
                    <div class="alert alert-danger">
                        {{form.errors}}
                    </div>
                    {{form|crispy}}
                    
                    <div class="lower text-center">
                        <input type="submit" value="Submit" name="submit" class="btn btn-primary">
                        <a href="{% url 'student-dashboard' %}" class="btn btn-secondary">Go back</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    document.getElementById('div_id_user').style.display = 'none';;
</script>

{% endblock %}