{% extends 'base.html' %}

{% block content %}
<div class="container users mt-5">
    <a href="{% url 'admin-dashboard' %}" class="btn btn-dark mb-1"><i class="fas fa-home"></i> Home</a>

    {% if stolen_books %}
    <table class="table table-striped p-3 table-dark" id="table_id">
        <legend>Stolen Books <strong style="text-transform: capitalize;">{{user}}</strong></legend>
        <thead>
            <tr>
                <td>ID</td>
                <td>Book</td>
                <td>No. stolen</td>
                <td>status</td>
            </tr>
        </thead>
        <tbody>
            {% for i in stolen_books %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.title}}</td>
                <td>{{i.no_stolen}}</td>
                <td>
                    <!-- <a href="{% url 'edit-book' i.id %}" class="btn btn-light btn-sm">Edit</a> -->
                    {% if i.is_stolen  %}
                    Stolen
                    {% else %}
                    <a href="{% url 'add-stolen-book' i.id %}" class="btn btn-danger btn-sm">add</a>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <p class="my-4"> <strong class="text-bold" style="text-transform: capitalize;">{{user}}</strong> has no stolen books
    </p>
    {% endif %}
</div>
{% endblock %}