{% extends 'stubase.html' %}

{% block title %}View books{% endblock %}

{% block content %}


<section class="section">
    <div class="card">
        <div class="card-header">
           
        </div>
        <div class="card-body">
            <table class='table' id="table_id">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>No of book</td>
                    </tr>
                </thead>
                <tbody>
                    {% for book in subjects %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>{{book.name}}</td>
                        <td>
                            <span style="margin: 0 10px">{{book.num_subject}}</span>
                            <a href="{% url 'stu-subject-cat-info' book.id %}" class="btn  btn-sm">view all
                                books</a></td>

                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</section>
{% endblock %}