{% extends 'stubase.html' %}

{% block content %}

<section class="section">
    <div class="card">
        <div class="card-header">
            <legend>Borrowed Book Records for <strong style="text-transform: capitalize;">{{user}}</strong></legend>
        </div>
        <div class="card-body">
            <table class='table' id="table_id">



    

   
        <thead>
            <tr>
                <td>ID</td>
                <td>Book</td>
                <td>Issue Date</td>
                <td>Due Date</td>
                <td>Return Date</td>
                <td>Penalty (Ghc)</td>
            </tr>
        </thead>
        <tbody>
                {% for i in book_records %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.book}}</td>
                        <td>{{i.date_of_issue}}</td>
                        <td>{{i.due_date}}</td>
                        <td>{{i.date_of_return}}</td>
                        <td>{{i.dues}}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
    </table>
    
</div>
</div>
</section>

{% endblock %}