{% extends 'base.html' %}

{% block title %}View books{% endblock %}

{% block content %}
<section class="section">
   

    <div class="card">
        <div class="card-body">
            <div class=" d-flex justify-content-between">
                <h4>Import Book File</h4>
                <a href="{% url 'download-book-demo' %}" class="btn btn-success waves-effect waves-light"><i
                        class="mdi mdi-download mr-1"></i> Download Sample File</a>
            </div>
            <br>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" class="form-control" id="example-fileinput" name="file" required>
                <p>CSV File. Max File Size : 32MB</p>
                <div class="button-list d-flex justify-content-between">
                    <div></div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light"><i
                            class="mdi mdi-upload mr-1"></i> Import</button>

                </div>
            </form>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <a href="{% url 'add-book' %}" class="btn btn-primary mb-2"><i class="fas fa-book-medical"></i> Add book</a>
        </div>
        <div class="card-body">
            <table class='table' id="table_id">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Subject</td>
                        <td>Location</td>
                        <td>Author(s)</td>
                        <td>Availability</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    {% if book.availability %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.subject.name}}</td>
                        <td>{{book.location}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.availability}}</td>
                        <td>
                            <a href="{% url 'edit-book' book.id %}" class="btn btn-light btn-sm">Edit</a>
                            <a href="{% url 'delete-book' book.id %}" class="btn btn-danger btn-sm">Del</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</section>
{% endblock %}