{% extends 'base.html' %}

{% block content %}
<section class="section">



    <div class="card">
        <div class="card-body">
            <div class=" d-flex justify-content-between">
                <h4>Import User's File</h4>
                <a href="{% url 'download-user-demo' %}" class="btn btn-success waves-effect waves-light"><i
                        class="mdi mdi-download mr-1"></i> Download Sample File</a>
            </div>
            <br>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" class="form-control" id="example-fileinput" name="file" required>
                <p>CSV File. Max File Size : 32MB</p>
                <div class="button-list d-flex justify-content-between">
                    <div></div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light"><i
                            class="mdi mdi-upload mr-1"></i> Import</button>

                </div>
            </form>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <a href="{% url 'create-user' %}" class="btn btn-secondary align-right mb-2"><i
                    class="fas fa-user-plus"></i> Add
                user</a>
        </div>
        <div class="card-body">
            <table class='table' id="table_id">
                <thead>
                    <tr>
                        <td></td>
                        <td>Username</td>
                        <td>Firstname</td>
                        <td>Lastname</td>
                        <td>Email</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a href="{% url 'edit-user' user.id %}" class="btn btn-light">Edit</a>
                            <a href="{% url 'delete-user' user.id %}" class="btn btn-danger">Del</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</section>
{% endblock %}