<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="{% static '/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/sign-up.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/ucc_web_logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/dashstyle.css' %}">

    <link href="{% static 'libs/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables/select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <title>UCC LMS | {% block title%}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark py-3">
        <div class="container-fluid">
            <div class="logo"><a href="/"><img src="{% static '/img/ucc_web_logo.png' %}" alt="logo.png" height='30px'>
                    UCC LMS</a></div>
            <div class="right">
                <span id="hello-msg" class="mx-5" style="text-transform: capitalize; color: white;">Welcome,
                    {{request.user}}!</span>
                <a href="{% url 'logout' %}" class="btn btn-primary">
                    Logout <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </nav>
    {% if messages %}
{% for message in messages %}
  <div class="alert  alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" style="margin-right:30px;">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

    {% endif %}
    {% block content %}
    {% endblock %}
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="{% static 'libs/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables/responsive.bootstrap4.min.js' %}"></script>
        
    <script src="{% static 'libs/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.flash.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables/jszip.min.js' %}"></script>

    <script src="{% static 'libs/datatables/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'libs/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'libs/datatables/init.js' %}"></script>


    <script src="/static/js/main.js"></script>

    
</body>

</html>