<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign-up.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/ucc_web_logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/dashstyle.css' %}">

    <link href="{% static 'libs/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables/select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <title>UCC LMS | {% block title%}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/chartjs/Chart.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>

   


    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="{% static '/img/ucc_web_logo.png' %}" alt="" srcset="" height='30px'>UCC LMS
                </div>
                <div class="sidebar-menu">
                    
                    <ul class="menu">
                        <li class="sidebar-item active ">
                            <a href="{% url 'student-dashboard' %}" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'student-view-books' %}" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>All Books</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'student-borrowed-books' %}" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Borrowed Books</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'recommend-book' %}" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Recommend Book</span>
                            </a>
                        </li>
                        
                        <li class="sidebar-item">
                            <a href="{% url 'logout' %}" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>

                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
                        
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown"
                                class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar mr-1">
                                    <img src="{% static 'img/avatar/avatar-s-1.png' %}" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Welcome, {{request.user}}!</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'logout' %}"><i data-feather="log-out"></i>
                                    Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="main-content container">
                <div class="page-title">
                    <h3>{{ dash_title }}</h3>
                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="alert  alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="margin-right:30px;">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
            
                {% endif %}
                {% block content %}
                {% endblock %}

            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-left">
                        <p>2021 &copy;</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="{% static 'libs/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'libs/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.flash.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables/buttons.pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables/jszip.min.js' %}"></script>

    <script src="{% static 'libs/datatables/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'libs/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'libs/datatables/init.js' %}"></script>



    <script src="{% static 'js/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    <script src="{% static 'vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/pages/dashboard.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>