
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div>
	<h4>Invitation to join the OAG Asset Management Portal</h4>
	<p>Dear User,</p>
	<p>We are pleased to introduce you to the Asset Management Portal for the Office of Administrator General.</p>
	<p>Kindly visit the link below to complete your registration process.</p>
	<p>Register with this <a href="{{ url }}">link </a> or</p>
	<p><b>{{ url }} </b></p>
	<p>Kindly contact us on <span>support@oag.gov.gh</span> if you need any clarification.</p>
	<p>Thank you...</p>

</div>
</body>
</html>
